@import "npm:@fontsource/roboto-mono/400.css";
@import "npm:@fontsource/roboto-mono/700.css";

:root {
    --main-bg-color: #333;
    --main-color: #ffd000;
    --font: 'Roboto Mono', monospace;
}

div {
    display: inline-block;
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-color);
    font-family: var(--font);
}

#container {
    max-width: 60rem;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas:
        "main main"
        "controls help"
        "footer footer";
    row-gap: 3rem;
}

#waveform {
    width: 100%;
    height: 100%;
}

.editor {
    grid-area: main;
    border: 1px solid;
    border-color: var(--main-color)
}

.controls {
    grid-area: controls;
}

.help {
    grid-area: help;
}

.footer {
    grid-area: footer;
    font-size: 0.7rem;
    text-align: center;
}

h3 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 0.4rem;
    background-color: var(--main-color);
    color: var(--main-bg-color);
    padding: 0.4rem;
}

a {
    color: var(--main-color);
}

.shortcut {
    vertical-align: middle;
    margin: 1rem 0;
}

.shortcut-icon {
    background-color: var(--main-color);
    color: var(--main-bg-color);
    border-bottom: 2px inset rgba(0, 0, 0, .5);
    border-left: 2px inset rgba(0, 0, 0, .5);
    border-right: 2px inset rgba(255, 255, 255, .5);
    border-top: 2px inset rgba(255, 255, 255, .5);
    width: 2rem;
    height: 2rem;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}

button {
    font-family: 'Roboto Mono';
    background-color: var(--main-color);
    color: var(--main-bg-color);
    border-bottom: 2px inset rgba(0, 0, 0, .5);
    border-left: 2px inset rgba(0, 0, 0, .5);
    border-right: 2px inset rgba(255, 255, 255, .5);
    border-top: 2px inset rgba(255, 255, 255, .5);
    padding: 1rem;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}

.shortcut-icon div {
    vertical-align: middle;
}