name: Release Executables for Windows and Linux
on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install Dependencies
        run: bun install

      - name: Build Executables
        run: |
          bun run build:linux
          bun run build:windows

      - name: Move Artifacts
        run: |
          mv dist/morphaweb-linux-arm64 morphaweb-linux-arm64
          mv dist/morphaweb-windows-x64.exe morphaweb-windows-x64.exe

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            morphaweb-linux-arm64
            morphaweb-windows-x64.exe
